ul > li {
    padding:1em;
}

 .navbar-brand {
    font-size: 3em !important;
    position: static;
    margin-top: -10px !important;


}
.navbar-dark{
    position: static;
}
.link a {
    text-decoration: none !important  ;
    color:white !important ;
}