<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Wall</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/wall_styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    
    <script src="{{url_for('static', filename='wall_script.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
        <div class="navbar">
                <div class="navbar-brand">
                        &#9998;
                </div>
                <div class="navbar-item">
                        <form class="logout" action="/logout" method="POST">
                            <input type="hidden" name="logout">
                            <input class="head-btn" type="submit" value="Log Out">
                        </form>
                        
                </div>
            </div>

   <div class="jumbotron">
        <div class="header">
             
                <p>Create a Post</p>
                <form action="/messagepost" method="POST">
                    <textarea name="new_message" cols="80" rows="5"></textarea> <br />
                    <input type="submit" value="Post Message">
                </form> <br />
            </div>

</div>
</body>
</html>