<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Wall</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/wall_styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    
    <script src="{{url_for('static', filename='wall_script.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
 
<ul class="nav nav-pills navbar-dark bg-dark">
    <li  class="navbar-item">
        <a href="/wall" method="GET">
        <li class="navbar-brand" >

                &#9998;
        </li>
        </a>
    </li>
    <li  class="navbar-item">
            <form class="logout" action="/logout" method="POST">
                <input type="hidden" name="logout">
                <input class="btn-dark " type="submit" value="Log Out">
            </form>
    </li>
    <li class="navbar-item">
            <form class="logout" class="nav-link"  action="/create_message" method="GET">
                <input class="btn-dark" type="submit" value="Create Post">
            </form>
    </li>
   
</ul>
   <div class="jumbotron">

 
    <div class="header">
        <h1>Hello {{ name|capitalize }}.<br /> Welcome to THE WALL</h1>
     
      
    </div>
    </div>
    <div class="container">

    {% for message in all_messages %}
        <div>
            <h3> {{ message['message'] }} </h3>
            <p> {{ message['full_name'] }}</p>
            <p> {{ message['posted_time'] }}</p>
            {% for comment in all_comments %}
                {% if comment['message_id'] == message['id'] %}
                    <hr />
                    <p> {{ comment['comment'] }}</p>
                    <p> {{ comment['full_name'] }}</p>
                    <p> {{ comment['posted_time'] }}</p>
                {% endif %}
            {% endfor %}
            <hr />
            <p>Post a comment!</p>
            <form action="/commentpost" method="POST">
                <input type="hidden" name="hidden_message" value={{ message['id'] }}>
                <textarea name="new_comment" cols="60" rows="3"></textarea> <br />
                <input type="submit" value="Post Comment">
            </form>
        </div>
    {% endfor %}
</div>
</body>
</html>